<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3>Admin</h3>
                <table id="mytable" class="table table-bordred table-striped"> 
                    <thead>
                        <th></th>
                        <th>Last Name</th>
                        <th>Last Name</th>
                    </thead>
                    <tbody>
                        <tr> 
                            <td><button onclick="sendAd('ad1.jpg')" class="btn btn-primary">Chọn</button></td>
                            <td>Advertisement 1</td>
                            <td><img src="/images/ad/ad1.jpg" style="width:150px"></td>
                        </tr> 
                        <tr> 
                            <td><button onclick="sendAd('ad2.jpg')" class="btn btn-primary">Chọn</button></td>
                            <td>Advertisement 2</td>
                            <td><img src="/images/ad/ad2.jpg" style="width:150px"></td>
                        </tr> 
                        <tr> 
                            <td><button onclick="sendAd('ad3.jpg')" class="btn btn-primary">Chọn</button></td>
                            <td>Advertisement 3</td>
                            <td><img src="/images/ad/ad3.jpg" style="width:150px"></td>
                        </tr> 
                        <tr> 
                            <td><button onclick="sendAd('ad4.png')" class="btn btn-primary">Chọn</button></td>
                            <td>Advertisement 4</td>
                            <td><img src="/images/ad/ad4.png" style="width:150px"></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
<script src="/bootstrap/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
    function sendAd(source){
        socket.emit("admin_send_ad", source);
    }
</script>
</html>